<div>
    <h2>Formulario</h2>
    <form [formGroup]="form" (submit)="guardarMeme()">
        <input type="text" name="textoArriba"  id="textoArriba" formControlName="textoArriba" placeholder="Texto de arriba" #textoArriba (input)="enviarTodo($event)">
        <br>
        <br>
        <input type="text" name="textoAbajo"  id="textoAbajo" formControlName="textoAbajo" placeholder="Texto de abajo" #textoAbajo (input)="enviarTodo($event)">
        <br>
        <br>
        <input type="text" name="imagenUrl" id="imagenUrl" formControlName="imagenUrl" placeholder="Url img" #urlImg (input)="enviarTodo($event)">
        <br>
        <br>
        <input type="color" name="color" id="color" formControlName="color" placeholder="color" #color (input)="enviarTodo($event)">
        <br>
        <br>
        Favorito?<input type="checkbox" id="isFav" formControlName="isFav" name="isFav"  #checkbox (input)="enviarCheckBox($event)">
        <br>
        <br>
        <button type="submit" [disabled]="form.invalid" >Guardar meme</button>
    </form>
</div>
<ul>
    <li *ngFor="let item of memes">{{item.id}}</li>
</ul>